In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('desafio1.csv')

In [7]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [15]:
df.set_index('RowNumber', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 1 to 7000
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        7000 non-null   object
 1   sobrenome                 7000 non-null   object
 2   pontuacao_credito         7000 non-null   int64
 3   estado_residencia         7000 non-null   object
 4   genero                    7000 non-null   object
 5   idade                     7000 non-null   int64
 6   nivel_estabilidade        7000 non-null   int64
 7   saldo_conta               7000 non-null   float64
 8   numero_produtos           7000 non-null   int64
 9   possui_cartao_de_credito  7000 non-null   int64
 10  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 656.2+ KB

In [13]:
df.describe()

,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [19]:
pontuacao = df['pontuacao_credito']
pontuacao.describe()

count    7000.000000
mean      649.787000
std        97.046279
min       350.000000
25%       582.000000
50%       651.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [23]:
estado = df['estado_residencia']
estado.unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [104]:
df_answer = df.groupby(estado).agg({'pontuacao_credito':['mean', 'median', 'std', pd.Series.mode]}).round(2)
df_answer

                  pontuacao_credito
                               mean median    std mode
estado_residencia
PR                           648.96    650  98.61  850
RS                           651.11    650  95.14  850
SC                           649.54    653  97.23  850

In [109]:
df_answer.columns = ['media', 'mediana', 'desvio_padrao', 'moda']
df_answer.T

estado_residencia      PR      RS      SC
media              648.96  651.11  649.54
mediana            650.00  650.00  653.00
desvio_padrao       98.61   95.14   97.23
moda               850.00  850.00  850.00

In [110]:
print(df_answer.T.to_json())

{"PR":{"media":648.96,"mediana":650.0,"desvio_padrao":98.61,"moda":850.0},"RS":{"media":651.11,"mediana":650.0,"desvio_padrao":95.14,"moda":850.0},"SC":{"media":649.54,"mediana":653.0,"desvio_padrao":97.23,"moda":850.0}}

In [111]:
df_answer.T.to_json('submission.json')