# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.shape

(537577, 12)

In [79]:
black_friday

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [5]:
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [6]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [20]:
#Testes da questão: 2
#%timeit black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')].shape[0]

64.6 ms ± 177 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
#%timeit sum((black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35'))

111 ms ± 2.68 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [121]:
#Testes da questão: 3
black_friday[black_friday["Product_Category_2"].isna() | black_friday["Product_Category_3"].isna()].shape[0]

373299

In [48]:
#Testes da questão: 4
black_friday.isna().any(axis='columns').value_counts(normalize=True)

0.6944102891306734

In [118]:
#Testes da questão: 5
black_friday.isna().sum().max()

373299

In [120]:
#Testes da questão: 6
black_friday['Product_Category_3'].mode().item()

16.0

In [125]:
#Testes da questão: 7
(black_friday['Purchase'] / black_friday['Purchase'].max()).mean()

0.38954383592652086

In [22]:
#Testes da questão: 8
#%timeit (black_friday['Purchase'].mean() - black_friday['Purchase'].min()) / \
#                 (black_friday['Purchase'].max() - black_friday['Purchase'].min())

2.37 ms ± 19.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
#%timeit ((black_friday['Purchase'] - black_friday['Purchase'].min()) / \
#                 (black_friday['Purchase'].max() - black_friday['Purchase'].min())).mean()

4.22 ms ± 67.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [181]:
#Testes da questão: 9
nomal_purchase = (black_friday['Purchase'] - black_friday['Purchase'].mean()) /\
                 black_friday['Purchase'].std()
nomal_purchase.between(-1, 1).value_counts()[True].item()

348631

In [209]:
#Testes da questão: 10
aux = black_friday[['Product_Category_2', 'Product_Category_3']].isna()
aux[aux['Product_Category_2'] == True].all()[1]

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [9]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [118]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday[(black_friday['Gender'] == 'F') & 
                        (black_friday['Age'] == '26-35')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [78]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [47]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [183]:
def q5():
    # Retorne aqui o resultado da questão 5.
    nan_percent = black_friday.isna().any(axis='columns').value_counts(normalize=True)
    return nan_percent[True].item()

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [186]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [185]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].mode().item()

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [136]:
def q8():
    # Retorne aqui o resultado da questão 8.
    mean_normal_purchase = (black_friday['Purchase'].mean() - black_friday['Purchase'].min()) /\
                            (black_friday['Purchase'].max() - black_friday['Purchase'].min())
    return float(mean_normal_purchase)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [182]:
def q9():
    # Retorne aqui o resultado da questão 9.
    normal_purchase = (black_friday['Purchase'] - black_friday['Purchase'].mean()) /\
                      black_friday['Purchase'].std()
    return normal_purchase.between(-1, 1).value_counts()[True].item()

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [211]:
def q10():
    # Retorne aqui o resultado da questão 10.
    aux = black_friday[['Product_Category_2', 'Product_Category_3']].isna()
    return aux[aux['Product_Category_2'] == True].all()[1].item()